h1{
    color: black;
}
body{
    background-image: url("https://kartinkin.net/uploads/posts/2021-03/thumbs/1616033927_16-p-fon-vlastelin-kolets-16.jpg");
}
p{
    color: black;
}
body{
    color: black;
}